body{
    background-color: #A56565 !important;
}
#header{
    background-color: white;
    height: 6vh;
    display: grid;
    grid-template-columns: 1fr 20vw 20vw 30vw 1fr;
}

#contact{
    grid-column: 2;
    color: #4BB3FD;
    padding-top: 1.5vh;
    font-size: 2vh;
}

#myfav{
    grid-column: 3;
    color: #4BB3FD;
    padding-top: 1.5vh;
    font-size: 2vh;
}

#trade{
    grid-column: 4;
    color: #4BB3FD;
    padding-top: 1.5vh;
    font-size: 2vh;
}

#user{
    height: 5vh;
    justify-self: end;
    margin: 1vh;
}
#car{
    height: 6vh;
}

#top{
    background-color: #00487c;
    color: black;
    margin-top: 6vh;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 30px;
    text-align: center;
}

#home{
    background-color: #e1d89f;
    height: 50vh;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}

